
/* ---Œ¡Ÿ≈≈--- */
html, body {
  margin:0;
  padding:0;
  border:0;
  height:100%;
}
hr {
	margin: 15px 0px;
	color:#ccc; /*‰Îˇ IE*/
	background-color:#ccc; /*‰Îˇ ÌÓÏ‡Î¸Ì˚ı ·‡ÛÁÂÓ‚*/
	border:none;
	height:1px;
}
p { margin: 5px 0px;}
.catimg { display:block; float: left; margin: 3px 7px 7px 3px; }
body {
	background:  url() #1A2633; 
   background-repeat: repeat-x;
	color:#000000;
	font:normal 10pt tahoma, arial, verdana;
	padding: 0px 0px 0px 0px;
}
#wrapper {
	margin: 0 auto; 
	border: none;
	padding: 0px;
}
.op-main {
	color:#C8C9CA;
	font:normal 8pt Arial, arial, verdana;
}
.pricegru {
	font:bold 11pt Arial, arial, verdana;
	padding: 2px 20px;
}
tbody tr.odd {	background-color: #384451;} 
thead th,thead td,tfoot th {padding: 0.5em; border: 1px solid #203040; background-color: #384451; } 
#td-main td{
	padding: 3px;
}
/* --- ÿ¿œ ¿ --- */
#header {
	clear:both;
	margin:0px;
	padding: 10px 10px 10px 10px;
	color:#FFFFFF;
	font:normal 9pt Arial, arial, verdana;
	border-style: solid; 
	border-color: #C0C0C0; 
	border-width: 0px 0px 3px 0px; 
	height: 120px;
	background: #800000;
}
#header table{
	color:#FFFFFF;
	font:normal 9pt Arial, arial, verdana;
	border:0px; 
}
#header a {
   color:#FFFFFF;
}
.leftbar .content { padding: 10px 15px 10px 15px;}
.leftbar {
	margin:0px 0px 0px 0px;
	color:#F0F2F5;
	font:normal 9pt Arial, arial, verdana;
}
#td-left {
	background: #203040;
	border-style: solid; 
	border-color: #C0C0C0; 
	border-width: 0px 0px 0px 0px; 
}
.leftbar form {
	margin:0px 0px;
	padding:3px 0px;
}
.leftbar ul {
	margin:5px 0px;
}
.leftbar a { color:#F0F2F5; }
.leftbar table{
	color:#F0F2F5;
	font:normal 9pt Arial, arial, verdana;
	border:0px; 
}
.mainbar .content { padding: 10px 15px 10px 15px;}
.mainbar {
	margin:0px 0px 0px 0px;
	color:#F0F2F5;
	font:normal 9pt Arial, arial, verdana;
}
#td-main {
	background: #203040;
	border-style: solid; 
	border-color: #C0C0C0; 
	border-width: 0px 0px 0px 0px; 
}
.mainbar form {
	margin:0px 0px;
	padding:3px 0px;
}
.mainbar ul {
	margin:5px 0px;
}
.mainbar a { color:#F0F2F5; }
.mainbar table{
	color:#F0F2F5;
	font:normal 9pt Arial, arial, verdana;
	border:0px; 
}
.rightbar .content { padding: 10px 15px 10px 15px;}
.rightbar {
	margin:0px 0px 0px 0px;
	color:#F0F2F5;
	font:normal 9pt Arial, arial, verdana;
}
#td-right {
	background: #203040;
	border-style: solid; 
	border-color: #C0C0C0; 
	border-width: 0px 0px 0px 0px; 
}
.rightbar form {
	margin:0px 0px;
	padding:3px 0px;
}
.rightbar ul {
	margin:5px 0px;
}
.rightbar a { color:#F0F2F5; }
.rightbar table{
	color:#F0F2F5;
	font:normal 9pt Arial, arial, verdana;
	border:0px; 
}
/* --- ¿“¿ÀŒ√»--- */
.catalog ul{
	padding:2px 0px 2px 10px;
}
h2 {
	margin: 0px 0px 0px 0px;
	padding: 10px 10px 10px 10px;
	font:bold 14pt Arial, arial, verdana;
	color:#FF0000;
	border-style: solid; 
	border-color: #C0C0C0; 
	border-width: 0px 0px 0px 0px; 
}
h2 a { color:#FF0000; }
h3 {
	margin: 0px 30px 0px 0px;
	padding: 10px 10px 10px 10px;
	background: #800000;
	font:normal 12pt Arial, arial, verdana;
	color:#FFFFFF;
	border-style: solid; 
	border-color: #C0C0C0; 
	border-width: 0px 0px 0px 0px; 
}
h3 a { color:#FFFFFF; }
h4 {
	margin: 15px 0px 15px 0px;
	padding: 10px 10px 10px 10px;
	font:normal 12pt Arial, arial, verdana;
	color:#FF0000;
	border-style: solid; 
	border-color: #FF0000; 
	border-width: 0px 0px 1px 0px; 
}
h4 a { color:#FF0000; }
/* ---œŒƒ¬¿À--- */
#footer {
	margin: 0px;
	clear: both;
	padding: 10px 10px 10px 10px;
	border-style: solid; 
	border-color: #C0C0C0; 
	border-width: 0px 0px 0px 0px; 
	color:#C0C0C0;
	font:normal 8pt Arial, arial, verdana;
	background: #2B3B4A;
}
#footer a {
	text-decoration: underline;
	color:#C0C0C0;
}
#footer a:hover { 
	text-decoration: none;
}
#menu {
	padding: 0px 0px 0px 0px;
	border-style: solid; 
	border-color: #C0C0C0; 
	border-width: 0px 0px 0px 0px; 
	height: 34px;	
	background: #2B3B4A;
	clear:both;
}
#menu ul {
	margin:0px;
	margin-left:0px;
	padding:0px;
	list-style:none;
}
#menu li {
	display:inline;
}
#menu a {
	float:left;
	display:block;
	font:bold 9pt Arial, arial, verdana;
	color:#FFFFFF;
	height: 25px;
	background: #2B3B4A;
	text-align: center; 
	text-decoration: none;
	padding:9px 12px 0px 12px;
	margin: 0px 1px 0px 0px;
}
#menu a:hover {
   text-decoration: underline;
}
#menu #current a {
   text-decoration: underline;
}
#fotocen {
	margin: 10px 10px 10px 0px;
}

/* ---»«Ã≈Õ≈Õ»ﬂ ¬ —“»À≈ highslide--- */
.highslide-html {
	background-color: #203040; 
	color:#F0F2F5;
}
.highslide-html a{
	color:#F0F2F5;
}
.highslide-header a {
	font-weight: bold;
	color: #F0F2F5;
	text-transform: uppercase;
	text-decoration: none;
}
.highslide-html-content {
	display: none;
	width: 500px;
	padding: 0px 7px 7px 7px;
}